$general-color: #41B8CC;

.big-user-name {
    font-size: 1.6em;
    align-self: center;
    justify-self: center;
    margin-left: 1rem;
}

.left-col {
    font-family: 'Crimson Text', serif;
}

.user-profile {
    display: flex;
    padding-top: 1rem;
}

.settings {
    height: 1rem;
    justify-self: center;
    margin-left: auto;
    align-self: center;
}

.pointer {
    cursor: pointer;
}

.search-holder {
    background-color: #E5E5E5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 30px;
    transition: .4s ease-in-out;
    display: flex; 
}

.search-input {
    border-bottom: 0px;
    width: 90%;
    align-self: center;
    font-size: 1.4em;
    background-color: transparent;
    border: none;
    &::placeholder {
        color: rgb(131, 131, 131);
    }
    &:active,
    &:focus {
        outline: 0;
    }
}

.search-img {
    height: 1rem;
    margin-right: 1rem;
    align-self: center;
}

.user-profile-image {
    border-radius: 4rem;
    padding: .6rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    background-color: $general-color;
    color: white;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active-indicator {
    height: auto;
    width: 5px;
    transition: .2s ease-out;
    opacity: 0;
    background-color: $general-color;
}

.conversation-user {
    display: flex;
}

.position-conversation-user-image {
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.conv-user-name {
    align-self: center;
    font-size: 1.1em;
    margin-left: 1rem;
}

.user-data {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 100%;
}

.user-name-message {
    display: flex;
    flex-direction: column;
}

.unread-messages {
    display: flex;
    color: white;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: orange;
    font-size: 1.1em;
    border-radius: 16px;
    box-shadow: 1px 1px 6px 2px rgba(230, 123, 23, 0.596);
    span {
        align-self: center;
        justify-self: center;
        padding-left: .8rem;
        padding-right: .8rem;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }
}

.data {
    display: flex;
    flex-direction: row;
}

.message {
    margin-left: 1rem;
    font-size: 1.1em;
}

.timestamp {
    color: rgb(160, 160, 160);
    font-size: 1.1em;
    margin-left: 1rem;
}