.padding {
    padding: 16px;
    background: black;
}

.nav-text {
    color: white;
}

.right {
    float: right;
}

.change-color {
    vertical-align: middle;
    transition-duration: .3s;
    &:hover {
        filter: brightness(0) invert(0);
    }
}