.padding {
  padding: 16px;
  background: black;
}
.nav-text {
  color: white;
}
.right {
  float: right;
}
.change-color {
  vertical-align: middle;
  transition-duration: 0.3s;
}
.change-color:hover {
  filter: brightness(0) invert(0);
}
